@font-face {
    font-family: 'Product-Sans';
    src: url('/assets/fonts/Product\ Sans\ Regular.ttf');
}
@font-face {
    font-family: 'Product-Sans-Italic';
    src: url('/assets/fonts/Product\ Sans\ Italic.ttf');
}
body {
    margin: 0 auto;
    background: #111111;
    .landing {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1 {
                color: white;
                font-family: 'Poppins';
                font-size: 9rem;
                margin: 0;
            }
            h3 {
                font-family: "Product-Sans";
                color: #D90368;
                font-size: 1.5rem;
                margin: 0;
                margin-top: -20px;
            }
        }
        .nav {
            width: 50%;
            display: flex;
            justify-content: space-evenly;
            position: relative;
            top: 100px;
            color: #D90368;
            font-family: "Product-Sans";
            cursor: pointer;
        }
    }
    .about {
        .cards {
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            .card {
                width: 500px;
                height: 400px;
                background: #161616;
                color: white;
                text-align: center;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                p {
                    width: 75%;
                    font-family: 'Product-Sans-Italic';
                    font-size: 2rem;
                    margin: 0 auto;
                    line-height: 50px;
                }
            }
        }
        .desc {
            margin: 0 auto;
            width: 75%;
            margin-top: 10%;
            h1 {
                font-family: 'Product-Sans';
                font-size: 2rem;
                color: #8E8E8E;

            }
            p {
                color: #E4E4E4;
                font-family: 'Product-Sans';
                font-size: 1.5rem;
                line-height: 50px;
                margin-top: 5%;
            }
        }
    }
    .outcomes {
        margin: 0 auto;
        width: 75%;
        margin-top: 5%;
        h1 {
            font-family: 'Product-Sans';
            font-size: 2rem;
            color: #8E8E8E;
            margin-bottom: 10%;
        }
        .line {
            display: flex;
            margin: 0 auto;
            width: 80%;
            margin-bottom: 2%;
            .circle {
                width: 10px;
                height: 10px;
                background: #03CF8B;
                border-radius: 50%;
            }
            p {
                color: #E4E4E4;
                font-family: 'Product-Sans';
                font-size: 1.15em;
                margin-top: -5px;
                margin-left: 40px;
            }
        }
    }
    .course {
        margin: 0 auto;
        width: 75%;
        margin-top: 10%;
        .week:nth-child(2n+1) {
            justify-content: flex-start;
        }
        .week:nth-child(2n+2) {
            justify-content: flex-end;
            align-items: flex-end;
        }
        .week {
            display: flex;
            flex-direction: column;
            h1 {
                font-family: 'Product-Sans';
                font-size: 6rem;
                color: white;
                margin-bottom: 5%;
            }
            .topics {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                width: 30em;
                p {
                    font-family: 'Product-Sans';
                    font-size: 2rem;
                    margin-bottom: 3%;
                }
                .one {
                    color: #03CF8B;
                }
                .two {
                    color: #FFD91A;
                }
                .three {
                    color: #FF8C1A;
                }
                .four {
                    color: #FF4D6A;
                }
            }
        }
    }
}