@font-face {
  font-family: 'Product-Sans';
  src: url("/assests/fonts/Product Sans Regular.ttf"); }

@font-face {
  font-family: 'Product-Sans-Italic';
  src: url("/assests/fonts/Product Sans Italic.ttf"); }

body {
  margin: 0 auto;
  background: #111111; }
  body .landing {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    body .landing .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      body .landing .title h1 {
        color: white;
        font-family: 'Poppins';
        font-size: 9rem;
        margin: 0; }
      body .landing .title h3 {
        font-family: "Product-Sans";
        color: #D90368;
        font-size: 1.5rem;
        margin: 0;
        margin-top: -20px; }
    body .landing .nav {
      width: 50%;
      display: flex;
      justify-content: space-evenly;
      position: relative;
      top: 100px;
      color: #D90368;
      font-family: "Product-Sans";
      cursor: pointer; }
  body .about .cards {
    display: flex;
    width: 100%;
    justify-content: space-evenly; }
    body .about .cards .card {
      width: 500px;
      height: 400px;
      background: #161616;
      color: white;
      text-align: center;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      body .about .cards .card p {
        width: 75%;
        font-family: 'Product-Sans-Italic';
        font-size: 2rem;
        margin: 0 auto;
        line-height: 50px; }
  body .about .desc {
    margin: 0 auto;
    width: 75%;
    margin-top: 10%; }
    body .about .desc h1 {
      font-family: 'Product-Sans';
      font-size: 2rem;
      color: #8E8E8E; }
    body .about .desc p {
      color: #E4E4E4;
      font-family: 'Product-Sans';
      font-size: 1.5rem;
      line-height: 50px;
      margin-top: 5%; }
  body .outcomes {
    margin: 0 auto;
    width: 75%;
    margin-top: 5%; }
    body .outcomes h1 {
      font-family: 'Product-Sans';
      font-size: 2rem;
      color: #8E8E8E;
      margin-bottom: 10%; }
    body .outcomes .line {
      display: flex;
      margin: 0 auto;
      width: 80%;
      margin-bottom: 2%; }
      body .outcomes .line .circle {
        width: 10px;
        height: 10px;
        background: #03CF8B;
        border-radius: 50%; }
      body .outcomes .line p {
        color: #E4E4E4;
        font-family: 'Product-Sans';
        font-size: 1.15em;
        margin-top: -5px;
        margin-left: 40px; }
  body .course {
    margin: 0 auto;
    width: 75%;
    margin-top: 10%; }
    body .course .week:nth-child(2n+1) {
      justify-content: flex-start; }
    body .course .week:nth-child(2n+2) {
      justify-content: flex-end;
      align-items: flex-end; }
    body .course .week {
      display: flex;
      flex-direction: column; }
      body .course .week h1 {
        font-family: 'Product-Sans';
        font-size: 6rem;
        color: white;
        margin-bottom: 5%; }
      body .course .week .topics {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 30em; }
        body .course .week .topics p {
          font-family: 'Product-Sans';
          font-size: 2rem;
          margin-bottom: 3%; }
        body .course .week .topics .one {
          color: #03CF8B; }
        body .course .week .topics .two {
          color: #FFD91A; }
        body .course .week .topics .three {
          color: #FF8C1A; }
        body .course .week .topics .four {
          color: #FF4D6A; }
  body .teach {
    margin: 0 auto;
    width: 75%;
    margin-top: 10%; }
    body .teach h1 {
      font-family: 'Product-Sans';
      font-size: 2rem;
      color: #8E8E8E;
      margin-bottom: 10%; }
    body .teach .teacher {
      display: flex;
      max-width: 100%;
      justify-content: space-evenly;
      margin-top: 10%; }
      body .teach .teacher .left img {
        border-radius: 10px;
        width: 95%; }
      body .teach .teacher .right {
        width: 35%; }
        body .teach .teacher .right h1 {
          color: #03CF8B; }
        body .teach .teacher .right p {
          color: #E4E4E4;
          font-family: 'Product-Sans';
          font-size: 1.35em;
          line-height: 40px; }
        body .teach .teacher .right a {
          text-decoration: none;
          font-family: 'Product-Sans';
          color: #D90368; }
      body .teach .teacher .left-a {
        width: 45%; }
        body .teach .teacher .left-a h1 {
          color: #FFD91A; }
        body .teach .teacher .left-a p {
          color: #E4E4E4;
          font-family: 'Product-Sans';
          font-size: 1.35em;
          line-height: 40px; }
        body .teach .teacher .left-a a {
          text-decoration: none;
          font-family: 'Product-Sans';
          color: #D90368; }
      body .teach .teacher .right-a img {
        width: 45%;
        border-radius: 10px;
        margin-left: 250px; }
  body .footer {
    margin-top: 8%;
    display: flex;
    justify-content: center; }
    body .footer p {
      color: #E4E4E4;
      font-family: 'Product-Sans';
      font-size: 1.35em;
      line-height: 40px; }
